@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
html {
  scroll-behavior: smooth;
}
/* custom utitlity */
.min-h-inherit {
  min-height: inherit;
}

/* header */

.hamburger {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  transition: all 0.3s;
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0); /* ---check---- */
}
.line2 {
  transform: translateY(7px);
}
.line3 {
  transform: translateY(14px);
}

.menu-open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.menu-open .line1 {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.menu-open .line2 {
  display: none;
}
.menu-open .line3 {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
/* hero section */
.hero {
  min-height: calc(100vh - 60px);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../img/home/herobg-2.png"); /* file path must be with respect to style.css */
}
@media screen and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../img/home/herobg-mobile.jpg");
  }
}

/* about us section */
.about {
  background-image: url("../img/home/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* customer voice */
.customer {
  transition: all 0.5s;
  cursor: pointer;
}
.customer__Img {
  transition: all 0.5s;
}
.customer__active .customer__Img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 1;
}
.customer__active {
  color: #b6a71d;
}

/* contactus */

.contact__usLeft {
  background-image: url("../img/home/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ----------------------------products Page---------------------------- */
.products__hero {
  min-height: calc(100vh - 60px);
}
.text-stroke {
  color: black; /* to set when webkit is not supported */
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.buffet__tableBg {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/img/products/buffet/bugget-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.riser__setBg {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/img/products/riser/riserbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.kitchen__Bg {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/img/products/kitchen/kitchen-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img__shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product__overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .product__overlay {
    opacity: 1;
  }
}
.product__imgContainer {
  position: relative;
}

.product__imgContainer:hover .product__overlay {
  opacity: 1;
}
